@charset "utf-8";
/*
Author URI: http://www.lmlblog.com
Description: 黑色大气博客主题，自适应平板和移动端
*/
/* 共用 css */
.left{float:left}
.right{float:right}
.cl{zoom:1}
* {outline: 0;word-break: break-all}
.cl:after {content:".";display:block;height:0;clear:both;visibility:hidden}
select{font:12px/1.5 tahoma,arial,\5b8b\4f53} 
em{font-style:normal}
del {color: #969696;}
a {color:#333;text-decoration:none;transition: all 0.2s linear;-webkit-transition: all 0.2s linear;-moz-transition: all 0.2s linear;-o-transition: all 0.2s linear}
.w1180 a:hover {text-decoration:none;color:#ed6a00}
textarea {resize:none}
body,html,ul,ol,li,dl,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset{margin:0;padding:0}
body,input,button,select,textarea {font:12px/1.5 '鹂嬈t�',Tahoma,Helvetica,'SimSun',sans-serif;color:#444}
li{list-style:none}
img {border:none}
.avatar{box-shadow:inset 0 -1px 0 #3333sf;-webkit-box-shadow:inset 0 -1px 0 #3333sf;-webkit-transition:0.4s;-webkit-transition:-webkit-transform 0.4s ease-out;transition:transform 0.4s ease-out;-moz-transition:-moz-transform 0.4s ease-out}
.avatar:hover{box-shadow:0 0 10px #fff;rgba(255,255,255,.6),inset 0 0 20px rgba(255,255,255,1);-webkit-box-shadow:0 0 10px #fff;rgba(255,255,255,.6),inset 0 0 20px rgba(255,255,255,1);transform:rotateZ(360deg);-webkit-transform:rotateZ(360deg);-moz-transform:rotateZ(360deg)}
video{margin:0;width: 100%;height: auto}
code {font-authorsmily: consolas,'Microsoft Yahei',arial !important;padding: 2px 4px;color: #c7254e;background-color: #f9f2f4;border-radius: 4px}
button{outline:none}
#tancu, #gmtx{position:relative}
#tancu span{position: absolute;left: 80px;width: 120px;top: 0;z-index: 9;background-color: #168DE2;border-radius: 5px;padding: 3px;display:none}
#gmtx span {position: absolute;left: -140px;width: 150px;top: -8px;z-index: 9;background-color: #050505;color: #fff;border-radius: 5px;padding: 3px;display: none}

/* 框架css */
body {font-authorsmily: Microsoft yahei;background: #EAEAEA}
::-webkit-scrollbar-track-piece { background:#C5C5C5}
::-webkit-scrollbar { width:6px}
::-webkit-scrollbar-thumb { background:#DF6005}
.w1180 {max-width:1180px;width:100%;margin:0 auto}
.index {margin-top:20px}
.deanpol {width:64%}
.aiv {background: #fff;width: 100%}
.aivs {width: 100%;overflow: hidden}
.st{position:relative}
.sidebar {width: 34%}
.sidebar  .sidebar_tow,.hyh{padding:15px;margin-bottom:15px;background:#fff;border-bottom: 1px solid #C9C9C9}
#content{display:none}
.im_ent{width:96%!important;max-height: 262px}

/* 顶部nav */
.deanhdtop{height:68px;background:#1d1d1d;width:100%}
.deanlogo{width:200px;float:left;padding:8px 10px 0px;position:relative}
.deanlogo a, .flogo{display:block;width:200px;height:50px;background:url(../images/logo.png) no-repeat}
.deanlogo span{display:none}
.deanlogo:hover img{-webkit-animation:ministorm .5s ease;-moz-animation:ministorm .5s ease;-o-animation:ministorm .5s ease;-ms-animation:ministorm .5s ease;animation:ministorm .5s ease}
.deannav{float:right;margin-right:40px;height:50px;line-height:38px;margin-top:13px}
.deannav .header-menu-nav{float:right}
.deannav ul li{float:left;padding:0 18px;position:relative}
.deannav ul li a{display:inline-block;font-size:16px;color:#ffffff;position:relative}
.deannav .current-menu-item a,.deannav .current-post-parent a{border-bottom:3px solid #ed6a00;color:#ed6a00}
.deannav .current-menu-item  li a,.deannav .current-post-parent li a{border-bottom:1px solid #414141;color:#fff}
.sub-menu .current-menu-item a, .sub-menu .current-post-parent a{border-bottom:0;color:#DF6005}
.sub-menu{position:absolute;left:-5px;top:40px;z-index:9;width:158px;display:none;background-color:#1d1d1d;border-top:0;padding-top: 17px}
.sub-menu li{text-align:center;width:100%;padding:0 !important;border-bottom:1px solid #414141;background: #373636}
.sub-menu li a{padding:0 20px;font-size:14px;color:#fff;display:block;height:48px;line-height:48px}
.deannav .arrow:after{font-authorsmily:'FontAwesome';content:"\f107";display:inline-block;color:#fff;float:none;position:relative;top:0px;left:4px}
#searchform{margin-top:10px;padding-left:10px;height:40px;line-height:40px;border:1px solid #414141;overflow:hidden;width:200px;-moz-transition:all 0.2s linear;-webkit-transition:all 0.2s linear;-o-transition:all 0.2s linear;-ms-transition:all 0.2s linear;transition:all 0.2s linear}
#searchform:hover{ background:#fff;}
.btn-search{height:41px;cursor:pointer;background:#000 url(../images/search.png) no-repeat center;border:0;color:#fff;font-size:18px;width:42px;float:right;}
.search_kz {position: fixed;left: 0;top:-10px;width: 100%;height: 0;background: #fff;z-index: 1000;overflow:hidden}
.search_kz .boxtow {width: 800px;height: auto;margin: 0 auto;padding:50px 15px;position:relative}
.search_kz .boxtow  h2{color:#666;padding:20px 20px 0 20px}
.swap_value {background:none;border: none;padding-left: 10px;height: 100%;color: #A9A9A9}


/* footer css */
footer{margin-top:20px}
.bg_c{width:100%;padding:15px 0;text-align:center;background:#333;height:25px}
.bq{line-height:170%;font-size:14px;color:#FFF;margin:0px auto;text-align:center}
.bq span{margin-left:5px}
.bq a{color:#fff;}
/* biao css */

h2.deanrsidet{position:relative;padding-top:26px;margin:10px auto 25px auto;border-bottom:1px solid #979696}
.deanrsidet span{position:absolute;top:12px;left:35%;background:#fff;padding:0 15px;font-size:18px;color:#777;font-weight:normal}
.s_bian li{float:left;width:40%;padding:5px 10px;height:30px;line-height:30px;font-size:1.5em;color:#000}
.s_bian li:before{margin-right:10px}
.s_bian li a{color:#444;font:18px "Microsoft YaHei",微软雅黑,Helvetica,Arial,Lucida Grande,Tahoma,sans-serif}
.erwei{text-align:center}
.erwei img{width:250px;height:250px}
.deanjctj li{position:relative;float:left;margin-left:17px;height:30px;line-height:30px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;width:95%;padding-left:15px}
.deanjctj li:before{content:"●";position:absolute;left:0;top:-2px;font-size:16px;color:#ED6A00}
.deanjctj li a{font-size:14px;color:#5a5a5a}

/* index 标题 css */
.i_tb {margin-top: 0;padding: 15px 10px;line-height: 20px;border-bottom: 2px solid #c8c8c8;background-color: #fff}
.i_tb a{border-left:1px solid #ddd;padding:0 10px;float:left;font-size:16px}
.i_tb h1 a, .i_tb h1, .i_tb .one{font-weight:600;font-size:18px;color:#ED6A00;border:0}

/* index 列表 css */
.ae_ct article {padding: 20px 0;overflow: hidden;clear: both;background-color: #fff;margin-bottom: 20px}
.ae_ct .entry-img {float: left;overflow: hidden;margin: 2%;width: 40%;height:auto;overflow:hidden}
.ae_ct .entry-img img {width:100%;height:auto;max-width:303px}
.ae_ct .entry-content {overflow: hidden;margin: 5px 2%;width: 52%}
.ae_ct .entry-title{font-size:20px;line-height:1.6;font-weight:bold;color:#272322;font-size:20px;font-weight:bold}
.ae_ct .entry-site{font-size:13px;color:#888;line-height:1.6;padding-top:15px}
.ae_ct .entry-meta{height:26px;line-height:26px;font-size:13px;color:#b8b8b8;margin-top:15px;overflow: hidden}
.tags{float:right;height:100%;overflow:hidden}
.tags a{font-size:13px;color:#b8b8b8;margin-left:5px}
.time{float:left}
.item-desc img {width: 31.3%;height: auto;margin: 0 1%}
.item-desc img:hover {opacity:0.8}
.ae_ct .entry-site2{padding-top:15px}
.entry-title span {color: #E76565}
.comments{float:right;margin-right:25px}
.sort{}

/* 换一换 列表 css */
.hyh {width:370px;top:10px}
.hyh h3{font-size:16px;color:#ed6a00;font-weight:bold;padding-left:3px;padding-bottom:8px;margin-bottom:15px;height:22px}
.hyh h3 i{border-bottom:2px solid #ed6a00;height:29px;display:inline-block;line-height:23px;float:left;font-weight:bold;color:#999}
.hyh h3 span{float:right}
.hyh h3 span a{display:block;width:70px;border:1px solid #B8B8B8;padding:2px 5px;border-radius:15px;height:25px;line-height:25px;cursor: pointer}
.hyh h3 span a i{border:0;height:auto;margin:2px 5px 0 5px;transition:2s;-moz-transition:2s; -webkit-transition:2s;-o-transition:2s;transform:rotateZ(0deg);-webkit-transform:rotateZ(0deg);-moz-transform:rotateZ(0deg)}
.hyh h3 span a:visited i{transform:rotateZ(360deg);-webkit-transform:rotateZ(360deg);-moz-transform:rotateZ(360deg);transition:2s;-moz-transition:2s; -webkit-transition:2s;-o-transition:2s}
.hyh ul li{height:120px;width:100%;float:left;margin:5px 0}
.hyh .i_ipc{width:180px}
.hyh a{font-size:14px;color:#000;font-weight:bold;display:block;margin-bottom:10px}
.hyh .cxrandom{height:390px}
.i_ipc.right a{max-height:42px;line-height:21px;overflow:hidden}

/* 文章页面 css */
.crumbs{padding:10px 15px;border-bottom:1px solid #7F7C7C;font-size:14px}
.single-header h1{color:#292929;font-size:25px;line-height:1.2;padding:0 0 20px 0;font-weight:initial}
.single-meta{line-height:26px;border-bottom:dotted 1px #d8d8d8;overflow:hidden}
.single-main{padding:25px 0;color:#333;line-height:1.9;position: relative}
.single-main p{margin:0 0 1em;font-size:16px;text-indent:20px}
.single-main h2{font-size:20px;font-weight:bold;margin-bottom:5px;border-bottom:1px solid #333}
.single-main h3{font-size:16px;font-weight:bold;margin:15px 5px 0;color:#151515}
.single-main h3 span {background-color: #7FCCF9;padding: 3px 15px;border-radius: 0 5px 5px 0;color: #EC1D55;border-left: 3px solid #F14141}
.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto}
.img-responsive{max-width:90% !important;height:auto}
.single-main blockquote, .docs blockquote{border-left:5px solid #f18787;margin:20px;padding:5px 10px;clear:both;background-color:#dcdcdc}
.single-main a{-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;transition:all .2s ease-out;color:#ed5565;text-decoration:none}
.single-main ul, .single-main ol, .docs ol  {font-size: 14px;margin: 20px 15px;background-color: #EBF5F0;padding: 10px 10px 10px 35px;border-radius: 5px;border: 1px solid #3ED49B}
.single-main ol li, .docs ol li{list-style:inherit;line-height:25px;margin-bottom:10px}
.singleol{padding:10px;background-color:#EAEAEA;border:1px solid #4684CC;border-left:4px solid #4684CC}
.single-main h5{font-size:1.3em;background-color:#9BBCF8;margin-bottom:10px;padding:5px 5px 5px 20px;border-radius:5px}
.bq_cx{width:100%;text-align:center;font-size:16px}
#article-index{-moz-border-radius:6px 6px 6px 6px;border:1px solid #DEDFE1;float:right;margin:0 0 15px 15px;padding:0 6px;width:200px;line-height:23px;background-color:#fff}
#article-index strong{border-bottom:1px dashed #DDDDDD;display:block;line-height:30px;padding:0 4px}
#index-ul{margin:0;padding-bottom:10px;background: none;border: none}
#index-ul li{background:none repeat scroll 0 0 transparent;padding:0;margin-left:20px;line-height:20px;margin:5px}
.single-main .authors-bullhorn{color:#E47815;margin-right:3px}
.single-main .img_jz {text-indent: 0}
.single-main img {max-width: 80%;height: auto;margin-left: 10%;}
.time a {margin-right: 8px}
.single-header h1 span{color:#F31111}
.pgto {color: #fff;background: #000;padding: 5px 20px;border-radius: 5px;font-size: 18px;opacity: 1;position:absolute;left:10%;top:35px}
.page-top1{display: block}
a.djxye {cursor: url(http://a.aimm-img.com/images/arr_right.cur),auto}
.postx article {margin: 0;border-bottom:none;padding:15px;padding-top: 30px}

/* 分页导航css */
a.page-numbers:hover{color:#fff}
@media screen and (min-width:550px){
.pagination{text-align: center;padding-top: 20px;background:#fff}
.nav-links {display: inline-block}
.pagination a,.pagination a:visited{float:left;background:#fff;margin:0 5px 10px 0;padding:8px 11px;line-height:100%;border:1px solid #ebebeb;border-radius:2px}
.pagination .current,.pagination .dots{background:#fff;float:left;margin:0 5px 0 0;padding:8px 11px;line-height:100%;border:1px solid #ebebeb;border-radius:2px}
.pagination span.pages{}
.pagination span.current,.pagination a:hover{background:#DF6005;color:#fff;border:1px solid #DF6005}
.screen-reader-text,.pages{display:none}
}

/* ajax-comment */
.butterBar{margin-left:36%;max-width:640px;position:fixed;text-align:center;top:0;width:58%;z-index:800}
.butterBar--center{left:50%;margin-left:-320px}
.butterBar-message{background:rgba(255,255,255,0.97);border-bottom-left-radius:4px;border-bottom-right-radius:4px;box-shadow:0 1px 1px rgba(0,0,0,0.25),0 0 1px rgba(0,0,0,0.35);display:inline-block;font-size:14px;margin-bottom:0;padding:12px 25px}


/* 返回顶部css */
#elevator_item{width:50px;height:50px;position:fixed;right:15px;bottom:5px;-webkit-transition:opacity .4s ease-in-out;-moz-transition:opacity .4s ease-in-out;-o-transition:opacity .4s ease-in-out;opacity:1;z-index:100;display:none}
#elevator_item .authors{font-size:3em;color:#fff}
#elevator_item.off{opacity:0;visibility:hidden}
#elevator,#elevator_item .qr{display:block;width:50px;height:40px;border-radius:2px;cursor:pointer;background:#DF6005 url(../images/top.png) no-repeat center;margin-bottom:10px;text-align:center;padding-top:5px}
#elevator:hover{background-color:rgba(0,0,0,.7)}
#elevator:active{background-color:rgba(0,0,0,.75)}
#elevator_item .qr:hover{background-color:rgba(0,0,0,.7)}
#elevator_item .qr:active{background-color:rgba(0,0,0,.75)}
#elevator_item .qr-popup{width:138px;height:168px;background:#fff;box-shadow:0 1px 8px rgba(0,0,0,.1);position:absolute;left:-180px;bottom:0;border-radius:2px;display:none;text-align:center}
#elevator_item .qr-popup .code-link{display:block;margin:10px;color:#777}
#elevator_item .qr-popup .code{display:block;margin-bottom:10px}
#elevator_item .qr-popup .arr{width:6px;height:11px;position:absolute;right:-6px;bottom:14px}

/* 相关文章css */
.widget_related_post{margin:20px 15px}
.widget_related_post h3{padding-left:12px;border-left:5px solid #db6d4c;margin-right:25px;font-size:16px;font-weight:bold;line-height:1.6}
.related_post{overflow:hidden;padding-top:20px}
.related_post img{display:block;width:172px;height:112px}
.related_post li{width:23%;float:left;margin:0 1%;overflow:hidden;margin-bottom:20px}
.related_post li:hover p{color:#DB6D4C}
.related_post li p{padding-top:10px;color:#5a5a5a;font-weight:bold;text-align:center;height:40px;font-size:14px;line-height:20px}


/* Alert */
.umalert{display: none;position: fixed;top:50%;left: 50%;width: 300px;min-height: 150px;margin-top:-75px;margin-left: -150px;box-shadow: 0 0 5px rgba(0,0,0,0.1);background: #E0CA9B;border: 1px solid #eaeaea;z-index: 999}
.alert_title{padding:10px;border-bottom:1px solid #e5e5e5;margin-bottom:20px; background:#343434;color: #fff}
.alert_title h4{font-size:15px}
.alert_content{padding:0 10px}
.umalert p{line-height: 150%;font-size: 13px;text-align: center}
.umalert p span{padding: 0 2px;color:red}
.umalert .alert_close{position: absolute;top: 5px;right: 5px;width: 15px;height: 15px;border-radius: 15px;color: #888;text-align: center;line-height: 15px;
font-size: 15px;cursor: pointer}
.cancel-to-back{position: absolute;bottom: 20px;left: 50%;margin-left: -25px;padding: 7px 15px 6px;text-align: center;font-size: 14px;color: #fff;border: none;background-color: #DB6D4C;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;cursor: pointer;display: inline-block;vertical-align: middle;outline: none;text-decoration: none;line-height: normal}
.cancel-to-back:hover{background-color: #FF9EBF;background-image: none;color: #fff}
.bq_cx {width:100%;text-align: center;font-size: 16px}


/* nav 手机*/
#cd-menu-trigger {float: right;height: 60px;line-height: 60px;font-size: 20px;color: #fff;padding: 0 10px 0 5px;display: none;}
.slide-mask{position:absolute;z-index:3;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,.4);-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-ms-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out;display:none}
.slide-wrapper{position:absolute;z-index:4;left:0;top:0;height:100%;width:50%;background-color:#fff;-webkit-transform:translate3d(-100%,0,0);-moz-transform:translate3d(-100%,0,0);-ms-transform:translate3d(-100%,0,0);-o-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0);-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-ms-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out}
.slide-wrapper.moved{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.header-info{background:url(../images/mible_bg.jpg) no-repeat center center;height:130px}
.header-info .header-logo{border-radius:50%;text-align:center;padding:20px 0 10px}
.header-info .header-logo a {width: 60px;height: 60px;display: block;border-radius: 50%;margin: 0 auto;overflow: hidden;text-align:center;border: 2px solid #fff}
.header-info .header-logo img{width:102%;height:auto}
.header-info-content{text-align:center;color: #B3B3B3;}
.header-info-content a{padding:3px 5px;color:#fff}
.menu_slide{margin-top:20px;padding:0;list-style:none}
.menu_slide li{font-size: 14px;padding-left: 10%}
.menu_slide li .sub-menu{margin-left:-20px;list-style-type:none;background-color:#F9F9F9;padding-left:40px}
.menu_slide li a{display:block;padding:8px 1em 8px 1.2em;color:#727272;text-shadow:0 0 1px rgba(255,255,255,.1);letter-spacing:1px;font-weight:400;-webkit-transition:background .3s,box-shadow .3s;transition:background .3s,box-shadow .3s;-webkit-transition:all .18s ease-out;-moz-transition:all .18s ease-out;-ms-transition:all .18s ease-out;-o-transition:all .18s ease-out}
.menu_slide li a i{margin-right:.6em;font-size:16px}
.menu_slide .current-menu-item {background-color: #F9F9F9}
.over-hid {overflow: hidden;height: 100%}

/* 置顶文章css */
.jxwz {position: absolute;top: -1px;left: -25px;background: #ed6a00;padding: 5px;width: 15px;text-align: center;color: #F9F6F6;font-weight: 600;font-size: 14px}
.jxnr{padding-bottom:10px}
.jxnr li{width:46%;padding:2px 2%;font-size:14px;float:left;height:30px;line-height:30px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis}
.jxnr li em {padding: 0px 5px;background: #666;margin-right: 5px;border-radius: 4px;color: #DCDADA}
.article-item {border-bottom: 1px solid #C8C8C8;margin-bottom: 10px;padding: 15px}
.article-item .item-pic{width:200px;height:120px;margin-right:15px;overflow:hidden;background:#f0f0f0;background-size:100px 50px}
.article-item .item-pic a{width:200px;height:120px;display:block}
.article-item .item-pic img{width:200px;max-width:100%}
.article-item .item-intro{height:120px;overflow:hidden;position:relative}
.article-item .item-intro .item-title {display: block;font-size: 17px;line-height: 30px;font-weight: 600;margin-bottom: 10px;height: 30px;overflow: hidden}
.article-item .item-intro .item-title:hover{color:#f60}
.article-item .item-intro .item-desc{font-size:13px;line-height:1.5;color:#aaa}
.article-item .item-intro .item-push-info{position:absolute;right:2px;bottom:0;font-size:12px;color:#aaa}

/* 分类标签颜色 */
.catry-2 a, .catry-2 {color: #f13a3a}
.catry-8, .catry-8 a{color: #16BBEF}

/* 演示按钮css */
.ysdm,.ysdm:visited{font-size:13px;font-weight:bold;display:inline-block;  padding: 3px 10px;margin-right: 10px;color:#F2EFEF !important;text-decoration:none;-moz-border-radius:6px;-webkit-border-radius:6px;-moz-box-shadow:0 1px 3px rgba(0,0,0,0.6);-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.6);text-shadow:0 -1px 1px rgba(0,0,0,0.25);border-bottom:1px solid rgba(0,0,0,0.25);position:relative;cursor:pointer}
.ysdm:hover{color:#fff}
.ysdm:active{top:1px}
.hong, .hong:visited{background-color:#e62727}
.hong:hover{background-color:#cf2525}
.lan,.lan:visited{background-color:#2981e4}
.lan:hover{background-color:#2575cf}

/* 增加 */
blockquote.geshi {
text-align: left;font-size: 14px;background: #EAEAEA;padding: 15px;border-radius: 5px;color: #636161;border: 0;position: relative}
blockquote.geshi i {font-size: 1.5em;color: #EF9A9A;position: absolute;left: 48%;top: -17px;background-color: #EAEAEA;padding: 8px;border-radius: 50%}
.dp-highlighter ol{border:none}
.fixed {position: fixed;top: 10px}
.ditb {display:none}

/* ajax加载 */
#pagination {
	display: none;
}
.ias-trigger {
    width: 0;
    height: 0;
    line-height: 50px;
    text-align: center;
    overflow: hidden;
}
.ias-trigger a {
    display: inline-block;
    width: auto;
    padding: 0 20px;
    height: 33px;
    line-height: 33px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    border-radius: 30px;
}

/** 小工具css **/
.sidcomment {
	overflow: hidden;
	padding: 10px 8px;
	border-bottom: dotted 1px #CBCBCB;
}
.sidcomment .img {
	float: left;
}
.sidcomment .img  img {
    width: 46px;
    height: 46px;
}
.sidcomment .word {
	padding-left: 60px;
}
.sidcomment .word .name {
	font-size: 14px;
	color: #888888;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
}
.sidcomment .word .name a {
	color: #DB6D4C;
	padding-right: 5px;
}
.sidcomment .word .title {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    overflow: hidden;
    background-color: #F5F2F2;
    margin-top: 5px;
    padding: 2px 10px;
    border-radius: 10px;
}
.sidcomment .word .title a {
	color: #b5b5b5;
}
.sidcomment .btm {
	color: #555;
	font-size: 12px;
	margin-top: 10px;
	max-height: 60px;
	line-height: 20px;
	overflow: hidden;
}
.cx-sect .cx-animate{-moz-opacity: 0.5; -khtml-opacity: 0.5; -webkit-opacity: 0.5; opacity: 0.5; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5); filter: alpha(opacity=0.5); -webkit-transition: all 0.9s ease-in-out 0s; -moz-transition: all 0.9s ease-in-out 0s; -o-transition: all 0.9s ease-in-out 0s; -ms-transition: all 0.9s ease-in-out 0s; transition: all 0.9s ease-in-out 0s; position: relative;}
.cx-sect .cx-animate{bottom: -20px;}
.visible .cx-animate{-moz-opacity: 1; -khtml-opacity: 1; -webkit-opacity: 1; opacity: 1; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); filter: alpha(opacity=100);}
.visible .cx-animate{bottom: 0;}

/* 自适应代码 */
@media(max-width:930px){
#searchform {width: 32px;border:0}
.swap_value, .sidebar, .pagination , .jxwz, .dtb2{display: none}
.ditb, #siteorder .pagination {display:block}
.ias-trigger {width:100%;height:50px}
.btn-search {background-color:initial}
.deannav {margin-right:0}
.deanpol {float:none;margin: 0 auto 10px auto;width:98%}
.deanjctj li{width:40%;padding-left:15px;min-width:230px}
.deanpor{display: block;margin:0 auto 10px auto;width: 100%;background-repeat:repeat-x}
.deannav ul li a{font-size:16px}
.deannav ul li{padding:0 10px}
}
@media(max-width:700px){
.dd-img img,.related_post li img, .slider-img img{width:100%;height:auto}
.tags ,.entry-site, .deanftbr, .cta-left, .bg_a{display: none}
.entry-title {font-size: 18px !important}
.conner {text-align: center}
.cta-right {width:100%;float: none}
.wblog li {float: none;width: 90%;margin: 10px 5% 40px 5%}
}
@media(max-width:650px){
.toptb, .deannav, .article-item .item-pic {display: none}
.tags , .extend{display: none}
.entry-title {font-size: 15px !important}
#searchform{margin-top: 10px}
.deanlogo{padding-top:5px}
.store_list li {width: 50%;}
#cd-menu-trigger, .lateral-menu-is-open {display:block !important}
.cd-main-content, .deanhdtop{-webkit-transform: translateZ(0);-webkit-backauthorsce-visibility: hidden;-webkit-transition-property: -webkit-transform;-moz-transition-property: -moz-transform;transition-property: transform;-webkit-transition-duration: 0.4s;-moz-transition-duration: 0.4s;transition-duration: 0.4s}
.cd-main-content {min-height: 100%;position: relative;background-color: #f5f4e9;z-index: 2;padding-top: 50px}
#main-wrap, #part{margin-top: 60px !important}
.deanhdtop{position: absolute;top: 0;left: 0;z-index: 3;height:60px}
.desc{display: none !important}
.jxnr li {width: 96%;float: none}
#elevator {width: 40px;border-radius: 50%;background-color: rgba(213, 84, 84, 0.71);padding-top: 0}
.single-main img {max-width: 90% !important;margin-left:5%}
.cx-sect .cx-animate{bottom: 0;}
}
@media(max-width:480px){

.related_post li {width: 48%}
.i_ipc{width:42% !important;margin:10px 3%}
.i_ipc img{width:100%;height:auto}
.i_ipc span, .to, .xs-hidden, .i_tb span, .bq span {display: none}

#article-index {width: 150px !important}
.deanjctj li {width: 90%}
.hyzk {width: 100%}
.ae_ct article {padding: 10px 0}
.wblog li {width: 96%;margin: 10px 2% 20px 2%}
}

.widget{margin-bottom:18px;position:relative;overflow:hidden;background:#FFF;-webkit-box-shadow:0 2px 5px 0 rgba(146,146,146,.1);-moz-box-shadow:0 2px 5px 0 rgba(146,146,146,.1);box-shadow:0 2px 5px 0 rgba(146,146,146,.1);padding:35px 30px;}
.authors .avatar-panel{position:relative;background:url(../images/bg.jpg) center center no-repeat;background-size:cover;height:140px;margin:-35px -30px 46px;}
.authors .author_pic{width:84px;height:84px;border-radius:50%;overflow:hidden;position:absolute;bottom:-42px;left:50%;margin-left:-42px;border;border:1px solid rgba(255,255,255,.6);box-shadow:0 0 20px rgba(0,0,0,0.34);}
.authors .author_pic img{-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;width:100%;height:100%;}
.authors .author_name{font-size:18px;display:block;margin-bottom:10px;text-align:center;position:relative}
.authors .author_name span{font-size:12px;display:inline-block;color:#fff;background-color:#19b5fe;padding:3px 4px;border-radius:4px;line-height:1;border:2px solid #fff;margin-left:5px;position:absolute;top:2px;right:inherit}
.authors .author_dec{text-align:center;font-size:13px;padding:0 15px 5px}
.authors .author_post_like{text-align:center}
.authors .author_post_like a{border:1px rgba(0,0,0,.15) solid;padding:8px 13px;cursor:pointer;background-color:#F74840;border-color:transparent;color:#fff;height:34px;line-height:34px;font-size:12px;border-radius:999em}
.authors .author_post_like a:hover{background-color:#282828;color:#fff}
.fa-pull-left{float:left}.fa-pull-right{float:right}.fa.fa-pull-left{margin-right:.3em}.fa.fa-pull-right{margin-left:.3em}.pull-right{float:right}.pull-left{float:left}.fa.pull-left{margin-right:.3em}.fa.pull-right{margin-left:.3em}